.offers{
    width: 65%;
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,crimson 0%, #e1ffea22 60%);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #515151;
    font-size: 80px;
    font-weight: 600;
}
.offers-left p{
    color: #515151;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 260px;
    height: 40px;
    border-radius: 35px;
    background: crimson;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
    
}

.offers-right img{
    width: 500px;
    height: 550px;
    
}

@media(max-width:800px){
    .offers-left p{
        font-size: 15px;
    }
    .offers-left h1{
        font-size: 50px;
    }
    .offers-left button{
        width: 150px;
        height: 30px;
        font-size: 12px;
    }
    .offers-right img{
        width: 300px;
        height:  450px;
    }
}
@media(max-width:550px){
    .offers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 90vh;
        transition: 0.5s;
    }
    .offers-right{
        padding: 0px;
        margin-right: 60px;
        transition: 0.5s;
    }
    .offers-left{
        margin-right: 110px;
        transition: 0.5s;
    }
}

@media(max-width:430px){
    .offers-left p{
        font-size: 9px;
        transition: 0.5s;
    }
    .offers-left h1{
        font-size: 25px;
        transition: 0.5s;
    }
}
