.hero{
    height: 100vh;
    background: linear-gradient(180deg, crimson,#e1ffea22 30%);
    display: flex; 
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #171717;
    font-size: 26px;
    font-style: italic;

}
.hero-left p{
    color: #171717;
    font-size: 70px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon span{
    font-size: 50px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 210px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: crimson;
    color: white;
    font-size: 22px;
    font-weight: 500px;
}
.hero-right img{
   width: 500px;
   height: 700px;
}


