.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg,crimson 0%, #e1ffea22 60%);
    gap: 30px;
}

.newsletter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.newsletter p{
    color: #454545;
    font-size: 20px;        
}

.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white ;
    width: 730px;
    height: 40px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;
}

.newsletter div button{
    width: 210px;
    height: 40px;
    border-radius: 80px;
    background: crimson;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

@media(max-width:1280px){
    .newsletter h1{
        font-size: 45px;
    }
}
@media(max-width:760px){
    .newsletter h1{
        font-size: 35px;
    }
    .newsletter input{
        width: 100px;
    }
    .newsletter div{
        width: 400px;
    }
    .newsletter div button{
        width: 110px;
    }
}

@media(max-width:520px){
    .newsletter h1{
        font-size: 30px;
    }
    .newsletter input{
        width: 100px;
        
    }
    .newsletter div{
        width: 300px;
        height: 30px ;
    }
    .newsletter div button{
        width: 80px;
        height: 30px;
        font-size: 14px;
    }
}

@media(max-width:430px){
    .newsletter{
        align-items: normal;
        transition: 0.5s;
    }
    .newsletter h1{
        font-size: 20px;
        margin-left: -18px;
        transition: 0.5s;

    }
    .newsletter p{
        margin-left: -18px;
        transition: 0.5s;
    }
    .newsletter input{
       width: 100px;
        
    }
    .newsletter div{
        width: 150px;
        height: 30px ;
        margin-left: -12px;
        transition: 0.5s;
    }
    .newsletter div button{
        width: 90px;
        height: 30px;
        font-size: 12px;
        transition: 0.5s;
    }
}

@media(max-width:360px){
    .newsletter{
        align-items: normal;
        transition: 0.5s;
    }
    .newsletter h1{
        font-size: 15px;
        margin-left: -68px;
        transition: 0.5s;

    }
    .newsletter p{
        font-size: 12px;
        margin-left: -68px;
        transition: 0.5s;
    }
    .newsletter input{
       width: 100px;
        
    }
    .newsletter div{
        margin-left: -68px;
        width: 150px;
        height: 30px ;
        transition: 0.5s;
    }
    .newsletter div button{
        width: 200px;
        height: 30px;
        font-size: 11px;
        transition: 0.5s;
    }
}
